.wrapper {
    display: flex;
    height: auto;
    width: 100vw;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 100px;
}

.wrapper button {
    padding: 10px 20px;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.multiselectOn {
    background: rgb(188, 9, 30);
}

.multiselectOff {
    background: #0a701b;
}

.accordian {
    width: 500px;
}

.item {
    background: #0d567b;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 5px;
}

.title {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    text-align: left;
}

.content {
    color:#ffffff;
    height: auto;
    text-align: left;
    overflow: hidden;
}